<% include partials/header %>
<div class="ui main text container segment" id="head">
  <div class="ui huge header">New Blog</div>

   <form class="ui form" action="/blogs" method="POST">
     <div class="field">
        <label>Title </lebal>
        <input type="text" name="blog[title]" placeholder="title">
     </div>
     <div class="field">
        <label>Image </lebal>
        <input type="text" name="blog[image]" placeholder="image">
    </div>
     <div class="field">
          <label>Blog Content </lebal>
        <textarea name="blog[body]"></textarea>
    </div>
      <input class="ui violet medium basic button" type="submit">
  </form>

</div>
